{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyO0rjTxlzo7BAtddNqKZ9iS"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"YiPgowL5jkFZ"},"outputs":[],"source":["streamlit\n","google-generativeai\n","matplotlib\n","numpy"]}]}